doctype html
html
  head
    title HomeClub | Login
    link(rel='icon', href='http://dl.dropboxusercontent.com/u/20868114/homeclub/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/icons.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     block content