extends layout

block content
  form(action='/api/login', method='POST')
    .container(style='margin-top:60px')
      .row
        .col-xs-6
          img(style='margin-bottom:20px', src='https://res.cloudinary.com/dujip8nqb/image/fetch/w_70,h_68//https://dl.dropboxusercontent.com/u/20868114/homeclub/logo.png')
          .form-group
            input.form-control(type='email', placeholder='Email', ng-model='user.email', name='email')
          .form-group
            input.form-control(type='password', placeholder='Password', name='password')
          .form-group
            button.btn.btn-warning(type='submit') Sign in